/*Styles for portfolio webpage */
/**fonts**/
@font-face {
    font-family: 'JustSugar';
    src: url(fonts/JustSugar.ttf);
}

@font-face {
    font-family: 'OldComputer';
    src: url(fonts/OldComputer.ttf);
}

/* cloud effect on page load */
#clouds {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    pointer-events: none;
}

.cloud {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    opacity: 0.5;
    animation: moveclouds 15s linear infinite;
}

.cloud1 {
    width: 200px;
    height: 120px;
    left: 20%;
    top: 50%;
    animation-duration: 20s;
}

.cloud2 {
    width: 220px;
    height: 130px;
    left: 60%;
    top: 30%;
    animation-duration: 18s;
}

.cloud3 {
    width: 180px;
    height: 110px;
    left: 40%;
    top: 70%;
    animation-duration: 22s;
}


.cloud4 {
    width: 180px;
    height: 110px;
    left: 5%;
    top: 60%;
    animation-duration: 25s;
}

.cloud5 {
    width: 260;
    height: 140px;
    left: 10%;
    top: 60%;
    animation-duration: 24s;
}

.cloud6 {
    width: 200px;
    height: 120px;
    left: 30%;
    top: 50%;
    animation-duration: 28s;
}

.cloud7 {
    width: 180px;
    height: 110px;
    left: 70%;
    top: 20%;
    animation-duration: 26s;
}

.cloud8 {
    width: 180px;
    height: 110px;
    left: 10%;
    top: 40%;
    animation-duration: 30s;
}

.cloud9 {
    width: 180px;
    height: 110px;
    left: 50%;
    top: 80%;
    animation-duration: 32s;
}

.cloud10 {
    width: 210px;
    height: 130px;
    left: 15%;
    top: 10%;
    animation-duration: 28s;
}

/* keyframes for cloud movement */
@keyframes moveclouds {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

body {
    font-family: OldComputer;
    background-color: #FDDCE2;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth;
}

header {
    background-color: #ffb6c1;
    /* Soft pastel pink */
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1400px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    margin: 0 25px;
    position: relative
}

nav ul li a {
    color: white;
    font-size: 20px;
    font-family: JustSugar;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 25px;
    display: block;
    border-radius: 25px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff69b4;
    /* Hot pink */
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

section {
    padding: 50px;
    margin: 50px auto;
    max-width: 900px;
    background-color: #fccdd4;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 300px;
}

h1.dropdown-head {
    font-size: 32px;
    font-family: JustSugar;
    text-align: center;
    background-color: #ffb6c1;
    padding: 20px;
    cursor: pointer;
    padding: 20px;
    margin: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
}

h1.dropdown-head:hover {
    background-color: #ff69b4;
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/* hide the dropdown content */
.dropdown-cont {
    display: none;
    padding-top: 15px;
    font-size: 16px;
    color: #333;
    transition: max-height 0.3s ease;
}

/* dark mode */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

header.dark-mode {
    background-color: #333;
}

footer.dark-mode {
    background-color: #333;
    color: f1f1f1;
}

button#darkMode:hover {
    background-color: #e02b73;

}

body.dark-mode button#darkMode {
    background-color: #333;
    color: #f1f1f1;
}

body.dark-mode button#darkMode:hover {
    background-color: #555
}

/** footer styling */
footer {
    background-color: #ffb6c1;
    color: #e02b73;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    font-family: JustSugar;
    border-top: 2px solid #ff69b4;
}

footer p {
    margin: 0;
    font-size: 16px;
}

/** button */